body {
  padding-top: 50px;
  background-color: #009AED;
}
.centered-form{
  margin-top: 60px;
}
.centered-form .panel{
  background: #FEFEFE;
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.btn-info{
  background-image: linear-gradient(to bottom,#009AED 0,#009AED100%);
}
#current{
  margin-top: 7px;
  color: #BEBEBE;
}
.warning{
  color: red;
}
#information{
  color: black;
}
#install:hover{
  background-color: #4E9BE7;
}
#install{
  margin: 5px;
  background-color: #E4E4E4;
}
#setup{
  display: flex;
}
a:hover{
  text-decoration: none;
}